h1, li {
  color: #eeeeec;
}
p, h2, h3 {
  color: #eeeeec;
}

body {
  padding: 5vh;
  background-color: #303036;
}
.jumbotron, .card-header {
  background-color: #47474e !important;
}

.col-1>nav {
  position: sticky; top: 5vh;
}
nav[data-toggle=toc] .nav>li>a:focus, nav[data-toggle=toc] .nav>li>a:hover {
  color: #dc3545;
  border-left: 1px solid #dc3545;
}

.list-group-item {
  background-color: #515159;
}
.list-group-item-action {
  color: #19cf9b;
}
.list-group-item-action:active, .list-group-item-action:hover, .list-group-item-action:focus {
  background-color: #4c4c54;
  color: #3ae0b1;
}
.card-header {
  border-bottom: 0;
}
ul ul {
  list-style-type: disc;
}

.text-muted {
  color: #3ae0b1 !important;
}

a {
  color: #19cf9b;
}
a:hover, a:active{
  color: #19cf9b
}

ol {
   list-style-type: none;
}
ol > li:before {
  content: "[" attr(value) "] ";
  margin-left: -20px;
}
